.login {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background: #030848;
    color: white;
    display: flex;
    .form {
        background: rgba($color: #ffffff, $alpha: 0.2);
        width: 100%;
        max-width: 360px;
        margin: auto;
        display: flex;
        border-radius: 12px;
        border: 1px solid #d9e5f2;
        padding: 16px;
        gap: 12px;
        flex-wrap: wrap;
        &__name,
        &__password {
            flex: 1;
            min-height: 16px;
            min-width: 100%;
            border-radius: 12px;
            background-color: white;
            color: #030848;
            padding: 12px;
            box-sizing: border-box
        }
        &__action {
            flex: 1;
            display: flex;
            justify-content: end;
        }
    }
}